:root{
  --purple:#2f192e;
  --purple-light:#30192d;
  --dark-blue:#012677;
  --blue: #5c65c0;
  --skyblue: #00b4fc;
  --light-blue: #005bc5;
  --dark-pink: #f64c57;
  --dark-magenta: #e21b5a;
  --light-green:#61e2c2;
  --light-purple:#d9abff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, var(--purple),var(--purple-light));
}

section h1 {
  color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    animation-delay: 1.1s;
}
section h1::after{
    position:absolute;
    content: "";
    top:50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #016186);
}
section > p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}



.about .company-info {
  margin-top: 30px;
}

.about h3 {
  margin: 30px 0 10px;
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}
section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(90, 1, 46, 0.76);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}
.portfolio-bg{
   background-color: #111;
    padding: 2rem 3rem;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 40px;
    max-width: 1250px;
}

.portfolio .cards .card {
  padding: 0 0 20px;
}

.services .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
}

.portfolio .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.FOOT{
  position: relative;
  width: 100%;
  padding: 20px 50px;
  min-height: 90px;
  background: #111;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
footer .social_icon, footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  
}
footer .social_icon li, footer .menu li{
  list-style: none;
}
footer .social_icon li a{
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: #f2f2f2;
}
footer .social_icon li a:hover{
  transform: translateY(-10px);
}
footer .menu li a{
  font-size: 1.2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: #f2f2f2;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: #f2f2f2;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1310px) {
  .logo {
    width: 135%;
    object-fit: contain;
    margin: -15px -60px;
  }
  
  .nav-li .items{
    margin: 0 17px;
  }
}
@media screen and (max-width: 1220px) {
  .logo {
    width: 135%;
    object-fit: contain;
    margin: -15px -60px;
  }
  .nav-li li .btn-contact{
    padding: 0.9rem 1.5rem;
  }
  .nav-li .items{
    margin: 0 15px;
  }
}
@media screen and (max-width: 1150px) {
  .logo {
    width: 135%;
    object-fit: contain;
    margin: -15px -60px;
  }
  .nav-li li .btn-contact{
    padding: 0.7rem 1.1rem;
  }
  .nav-li .items{
    margin: 0 10px;
  }
}
@media screen and (max-width: 1070px) {
  .logo {
    width: 135%;
    object-fit: contain;
    margin: -15px -60px;
  }
  .nav-li li .btn-contact{
    padding: 0.5rem 0.7rem;
  }
  .nav-li .items{
    margin: 0 2px;
  }
}

@media screen and (max-width: 960px) {
   .portfolio-bg{
    width: 1005;
    padding: 1rem;
    margin: 1rem;
    margin-top: 100px;
   }
  .logo {
    width: 85%;
    object-fit: contain;
    margin: -15px -80px;
  }
  .navbarr{
    margin-left: 450px;
  }
  
}
@media screen and (max-width: 900px) {
  .portfolio-bg{
    width: 1005;
    padding: 1rem;
    margin: 1rem;
    margin-top: 50px;
   }
   .portfolio-bg h1{
    font-size: 3.2rem;
   }
  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .logo {
    width: 58% ;
    object-fit: contain;
    margin: 0px -10px;
    align-items: center;
   }
   .navbarr{
    margin-left: 350px;
  }
}
@media screen and (max-width: 800px) {
  
  .logo {
   width: 55% ;
   object-fit: contain;
   margin: 0px 10px;
   align-items: center;
  }
 .navbarr{
   margin-left: 350px;
 }
}
@media screen and (max-width: 760px) {
  
  .logo {
   width: 55% ;
   object-fit: contain;
   margin: 0px 10px;
   align-items: center;
  }
 .navbarr{
   margin-left: 290px;
 }
}

@media screen and (max-width: 700px) {
  
   .logo {
    width: 59% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 230px;
  }
}

@media screen and (max-width: 660px) {
  .portfolio-bg h1{
    font-size: 2.5rem;
   }
   .logo {
    width: 61% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 230px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-bg h1{
    font-size: 2.5rem;
   }
   .logo {
    width: 69% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 190px;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .portfolio-bg h1{
    font-size: 2.5rem;
   }
   .logo {
    width: 77% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 160px;
  }
}
@media screen and (max-width: 490px) {
   .logo {
    width: 83% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 140px;
  }
}
@media screen and (max-width: 441px) {
   .logo {
    width: 87% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 110px;
  }
}
@media screen and (max-width: 412px) {
  .logo {
   width: 91% ;
   object-fit: contain;
   margin: 0px 10px;
   align-items: center;
  }
 .navbarr{
   margin-left: 80px;
 }
}
@media screen and (max-width: 388px) {
  .portfolio-bg h1{
    font-size: 2rem;
   }
   .logo {
    width: 97% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 50px;
  }
}
@media screen and (max-width: 366px) {
   .logo {
    width: 100% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 30px;
  }
}
@media screen and (max-width: 321px) {
  .portfolio-bg h1{
    font-size: 2rem;
   }
   .logo {
    width: 116% ;
    object-fit: contain;
    margin: 0px 10px;
    align-items: center;
   }
  .navbarr{
    margin-left: 10px;
  }
}
@media screen and (max-width: 308px){
  .portfolio-bg h1{
    font-size: 1.4rem;
   }
   .navbarr{
    margin-left: -10px;
  }
}  
@media screen and (max-width: 285px){
  .portfolio-bg h1{
    font-size: 1.4rem;
   }
   .navbarr{
    margin-left: -20px;
  }
}  

